:root {
    --cor-1: #84A9D9;
    --cor-2: #778C79;
    --cor-3: #5E7348;
    --cor-4: #D9D1D0;
    --cor-5: #262626;

    --bg-color: var(--cor-2);
    --font-color: var(--cor-5);
    --menu-color:var(--cor-3)
  }

a, p{
    color: var(--font-color);
}

html {
    scroll-behavior: smooth;
  }
   
  :target {
    scroll-margin-top: 5vh;
  }

.altura-100{
    min-height: 100vh;
}

.largura-100{
    width: 100%;
}

.bg-cor-de-fundo{
    background-color: var(--bg-color);
}

.txt-quem-sou{
    font-size: 2rem;
}

.txt-quem-sou span{
    position: relative;
}

.txt-quem-sou-esquerda span::before{
    content: "";
    animation: conjunto-quem-sou-esquerda 20s infinite;
}

.txt-quem-sou-esquerda span::after{
    content: "";
    position: absolute;
    height: 120%;
    border-left: 2px solid var(--font-color);
    right: -8px;
    animation: cursor .9s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: var(--bg-color);
}

.txt-quem-sou-direita span::before{
    content: "";
    animation: conjunto-quem-sou-direita 20s infinite;
    animation-delay: 2s;
}

.txt-quem-sou-direita span::after{
    content: "";
    position: absolute;
    height: 120%;
    border-left: 2px solid var(--font-color);
    right: -8px;
    animation: cursor .9s infinite, digita 20s steps(15) infinite;
    animation-delay: 1s;
    width: calc(100% + 12px);
    background-color: var(--bg-color);
}


@keyframes conjunto-quem-sou-esquerda {
    0%, 20%{
        content: "Desenvolvedor Web";
    }
    21%, 40%{
        content: "Analista de sistemas";
    }
    41%, 60%{
        content: "Consultor de Cloud";
    }
    61%, 80%{
        content: "Programador Back-end";
    }
    81%,100%{
        content: "Analista de dados";
    }
}

@keyframes conjunto-quem-sou-direita {
    0%, 20%{
        content: "Programador Back-end";
    }
    21%, 40%{
        content: "Analista de dados";
    }
    41%, 60%{
        content: "Desenvolvedor Web";
    }
    61%, 80%{
        content: "Analista de sistemas";
    }
    81%,100%{
        content: "Consultor de Cloud";
    }
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--bg-color);
    }
}

.breadcrumb{
    background-color: var(--menu-color);
    color: var(--font-color);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    padding: 0 5vw;
}

.menu {
    position: absolute;
    bottom: 0;
    height: 50px;
    z-index: 99;
    transition: all .1s;
}

.menu-header {
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all .1s;
}

.linhas {
    border: 1px dashed black;
}